<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 开启注解扫描 -->
	<context:component-scan base-package="iqaa.xxzh.msl"></context:component-scan>
	<context:property-placeholder location="classpath:db.properties" />

	<!-- 配置C3P0的连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	<!-- <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" 
		> <property name="driverClass" value="com.mysql.jdbc.Driver"/> <property 
		name="jdbcUrl" value="jdbc:mysql:///iqaa"/> <property name="user" value="root"/> 
		<property name="password" value="123456"/> </bean> -->


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
<!-- 				<prop key="hibernate.show_sql">true</prop> -->
<!-- 				<prop key="hibernate.format_sql">true</prop> -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>iqaa/xxzh/common/bean/map.xml</value>
				<value>iqaa/xxzh/msl/bean/map.xml</value>
			</list>
		</property>
	</bean>


	<!--配置平台事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!--开启事物注解 -->
	<!---->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 配置android和后台连接模块 -->
	<bean class="iqaa.xxzh.wzw.action.QAAction" id="QAAction" scope="prototype">
		<property name="qaService" ref="QAService" />
	</bean>
	<bean class="iqaa.xxzh.wzw.service.QAServiceImpl" id="QAService">
		<property name="qaDao" ref="QADao" />
	</bean>
	<bean class="iqaa.xxzh.wzw.dao.QADaoImpl" id="QADao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


</beans>
















